@page "/exercises"
@using WarmupGen.Core

<PageTitle>All Exercises</PageTitle>

<div class="container">

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Exercise</th>
				<th scope="col">Targets</th>
				<th scope="col">Techniques</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var exercise in Generator.ExerciseLibrary.Exercises.OrderBy(e => e.Name))
			{
				<tr>
					<td>@exercise.Name</td>
					<td>@exercise.TargetsDisplay</td>
					<td>@exercise.TechniquesDisplay</td>
				</tr>
			}
		</tbody>
	</table>

</div>

