@page "/targets"
@using WarmupGen.Core

<PageTitle>Targets</PageTitle>

<div class="container">

	@foreach (var mapping in Generator.ExerciseLibrary.TargetMaps.OrderBy(m => m.Target.Name))
	{
		<h2>@mapping.Target.Name</h2>

		<ul class="list-unstyled">
			@foreach (var exercise in mapping.ExerciseNames.OrderBy(name => name))
			{
				<li>@exercise</li>
			}
		</ul>
	}

</div>



