@page "/techniques"
@using WarmupGen.Core

<PageTitle>Techniques</PageTitle>

<h1>Techniques</h1>

<div class="container">

	@foreach (var mapping in Generator.ExerciseLibrary.TechniqueMaps.OrderBy(m => m.Technique.Name))
	{
		<h2>@mapping.Technique.Name</h2>

		<ul class="list-unstyled">
			@foreach (var exercise in mapping.ExerciseNames.OrderBy(name => name))
			{
				<li>@exercise</li>
			}
		</ul>
	}

</div>



