@page "/techniques"
@using WarmupGen.Core

<PageTitle>Techniques</PageTitle>

<div class="container">

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Technique</th>
				<th scope="col">Exercises</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var mapping in Generator.ExerciseLibrary.TechniqueMaps.OrderBy(m => m.Technique.Name))
			{
				<tr>
					<td>@mapping.Technique.Name</td>
					<td>
						@mapping.ExerciseNames.OrderBy(name => name).ToList().ToCommaSeparatedList()
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>

