@page "/techniques"
@using WarmupGen.Core

<PageTitle>Techniques</PageTitle>

<h1>Techniques</h1>

<div class="container">

	@foreach (var technique in Generator.TargetMaps.OrderBy(e => e.Name))
	{
		<h2>@technique.Name</h2>

		<ul class="list-unstyled">
			@foreach (var exercise in technique.ExerciseNames.OrderBy(name => name))
			{
				<li>@exercise</li>
			}
		</ul>
	}

</div>



