@page "/techniques"
@using WarmupGen.Core

<PageTitle>Techniques</PageTitle>

<h1>Techniques</h1>

<div class="container">

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Technique</th>
				<th scope="col">Exercises</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var technique in Generator.TechniqueMaps.OrderBy(e => e.Name))
			{
				<tr>
					<td>@technique.Name</td>
					<td>@technique.ExerciseNamesDisplay</td>
				</tr>
			}
		</tbody>
	</table>

</div>



